<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='main.js')}}"/></script>
        {% endblock %}
        <style>
            body { padding-top: 50px; }
        </style>
        <nav id="nav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                {% if not data["logged_in"] %}
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">To Do</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Sign Up</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <li>
                    <a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-tasks"></span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a>Welcome {{ data["name"] }}!</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Log out</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    {% block scripts %}
    {% endblock %}
</html>
