{% extends "base.html" %}
{% block head %}
<title>Settings</title>
{{ super() }}
{% endblock %}
{% block body %}
<div class="col-lg-12">
    <div id="message"/></div>
    <form id="settings_form" onsubmit="settings(); return false">
        Background Color:<br>
        <input type="radio" name="b_color" value="white"> default (white)<br>
        <input type="radio" name="b_color" value="red"> red<br>
        <input type="radio" name="b_color" value="blue"> blue<br>
        <input type="radio" name="b_color" value="green"> green<br>
        Side Nav Color:<br>
        <input type="radio" name="side_color" value="black"> default (black)<br>
        <input type="radio" name="side_color" value="red"> red<br>
        <input type="radio" name="side_color" value="blue"> blue<br>
        <input type="radio" name="side_color" value="green"> green<br>
        Top Nav Color:<br>
        <input type="radio" name="nav_color" value="#F8F8F8"> default (light gray)<br>
        <input type="radio" name="nav_color" value="red"> red<br>
        <input type="radio" name="nav_color" value="blue"> blue<br>
        <input type="radio" name="nav_color" value="green"> green<br>
        <input type="submit">
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
var settings = function() {
    var colors = $("#settings_form").serializeObject();
    api_call("POST", "/api/users/settings", colors, function(result) {
        if (result["success"] == 1) {
            display_message("message", "success", result["message"], function()
            {
                location.href = "/settings";
            });
        } else {
            display_message("message", "danger", result["message"]);
        }
    })
}
</script>
{% endblock %}
