{% extends "base.html" %}
{% block head %}
<title>ToDo</title>
{{ super() }}
<link href="../static/simple-sidebar.css" rel="stylesheet">
<style>
    #nav{
        margin-bottom: 0px;
    }
    
    #projects{
        
    }
</style>
{% endblock %}
{% block body %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Your Lists</a>
            </li>

            <ul class="nav nav-pills nav-stacked" id="projects">
                    <li class="active"><a href="#">Project 0</a></li>
                    <li><a href="#">Project 1</a></li>
                    <li><a href="#">Project 2</a></li>
                    <li><a href="#">Project 3</a></li>
            </ul>


            <div>
            {#{% for task in tasks recursive %}
                <br>
                <div style="position: relative; left: 30px;">
                    <!-- TODO: REPLACE <b> WITH THE TASK DIV -->
                      <b> Task: {{ task["name"] }} </b> <br>
                    {% if task["children"]|length != 0 %}
                        {{ loop(task["children"]) }} </ul>
                    {% endif %}
                </div>
            {% endfor %} #}
            </div>

        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h1 align="center">List name</h1>
            <div class="col-lg-6" id="left">
                <h2 align="center">Tasks</h2>
                <div class="input-group">
                    <span class="input-group-addon" id="plus-addon">+</span>
                    <input class="form-control" type="text" required name="task" id="task" placeholder="Add a task" autocomplete="off" />
                </div>
                <br>

                <div class="panel-group">
                    {% for task in tasks recursive %}
                        <br>
                        <!--<div style="position: relative; left: 30px;"> -->

                            <!-- TODO: REPLACE <b> WITH THE TASK DIV -->
                        <div class="panel panel-default"> 
                            <div class="panel-body">
                                Task: {{ task["name"] }} </b> <br>
                                <span class="glyphicon glyphicon-cog pull-right"></span>
                                <span class="input-group-addon" id="plus-addon">+</span>
                            </div>
                        </div>
                        {% if task["children"]|length != 0 %}
                            {{ loop(task["children"]) }} </ul>
                        {% endif %}

                    {% endfor %}
                </div>
                <!--<div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <input type="checkbox" name="stuff">
                            TASK 1
                            can have this pull up pop up
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <input type="checkbox" name="stuff">
                            TASK 2
                            can have this pull up pop up
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </div>
                    </div>
                </div> -->
                {# YOU CAN CHANGE THIS PART
                {% for task in task_list %}
                <div><input type="checkbox" name="something">{{ task }}</div>
                {% endfor %}#}
            </div>
            <div class="col-lg-6" id="right">
                <h2 align="center">Completed</h2>
                <!-- ADD THE COMPLETED SHIT HERE -->
            </div>
        </div>
    </div>
</div>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
{% endblock %}
