{% extends "base.html" %}
{% block head %}
<title>ToDo</title>
{{ super() }}
<link href="../static/simple-sidebar.css" rel="stylesheet">
<style>
    #nav{
        margin-bottom: 0px;
    }

    #projects{

    }
    .todo-wrap{
        display:block;
        position:relative;
        padding-left:35px;
        /*box-shadow*/
        -webkit-box-shadow:0 2px 0 -1px #ebebeb;
           -moz-box-shadow:0 2px 0 -1px #ebebeb;
                box-shadow:0 2px 0 -1px #ebebeb;
    }
    .todo-wrap:last-of-type{
        /*box-shadow*/
        -webkit-box-shadow:none;
           -moz-box-shadow:none;
                box-shadow:none;
    }
.delete-item {
    display:block;
    position:absolute;
    height:36px;
    width:36px;
    line-height:36px;
    right:0;
    top:0;
    text-align:center;
    color:#d8d8d8;
    opacity:0;
}
.todo-wrap:hover .delete-item{
opacity:1;
}

.delete-item:hover{
color:#cd4400;
}

:checked + .todo{
color:#717171;
}
:checked + .todo:before{
width:100%;
}
:checked + .todo:after{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 2px #0eb0b7;
   -moz-box-shadow:inset 0 0 0 2px #0eb0b7;
        box-shadow:inset 0 0 0 2px #0eb0b7;
}
:checked + .todo .fa-check{
font-size:20px;
line-height:35px;
color:#0eb0b7;
}


</style>
{% endblock %}
{% block body %}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Your Lists</a>
            </li>
            <ul class="nav nav-pills nav-stacked" id="projects">
                    {% for project in projects %}
                        {% if loop.index0 == 0 %}
                            <li class="active"><a data-toggle="tab" data-target="#{{project.title}}">{{ project.title}}</a></li>
                        {% else %}
                            <li><a data-toggle="tab" data-target="#{{project.title}}">{{ project.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <div class="col-lg-12">
                            <form id="new_project" onsubmit="add_project(); return false;">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <input type="submit"
                                        class="form-control" value="+">
                                    </span>
                                    <input type="text" class="form-control"
                                    placeholder="Project Name" name="title"
                                    required>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li style="visibility: hidden;"><a href="#">Project 3</a></li>
            </ul>
        </ul>
    </div>
    <div class="tab-content">
        {% for project in projects %}
            {% if loop.index0 == 0 %}
                <div id="{{project.title}}" class="tab-pane fade in active">
            {% else %}
                <div id="{{project.title}}" class="tab-pane fade">
            {% endif %}

                <div id="page-content-wrapper">
                    <div class="container-fluid">

                        <h1 align="center">{{ project.title}}</h1>
                        <div class="col-lg-6" id="left">
                            <h2 align="center">Tasks</h2>
                            <div class="input-group">
                                <button type="button" id="" class="btn btn-default"
                                                            onclick="addTask(-1, {{ project.pid }})"> + </button>
                                <!--
                                <button class="input-group-addon" id="plus-addon">+</button>
                                <input class="form-control" type="text" required
                                name="task" id="task" placeholder="Add a task"
                                autocomplete="off" /> -->
                            </div>
                            <br>

                            <div class="panel-group">
                                {% for task in project.tasks recursive %}
                                    <br>
                                    <div style="position: relative; left: 30px;">

                                            <!-- TODO: REPLACE <b> WITH THE TASK DIV -->
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                            <span class="todo-wrap">
                                                <input
                                                    type="checkbox"
                                                    id="taskBox{{task.tid}}"
                                                        onclick="checkOffTask({{task.tid}});"
                                                    {% if task.completed %}
                                                        checked
                                                    {% endif %}
                                                >

                                                <label for="1" class="todo">
                                                    Task: {{ task.title }} </b> <br>
                                                </label>
                                                <button type="button" class="btn btn-default"
                                                onclick="addTask({{ task.tid}}, {{ project.pid }})"> + </button>
                                                <div class="edit_item">
                                                    <span class="glyphicon glyphicon-cog pull-right"></span>
                                                </div>
                                                <div class="delete-item">
                                                    <span class="glyphicon
                                                        glyphicon-trash
                                                        pull-right"></span>
                                                </div>
                                            </span>

                                            </div>
                                            <div id="taskMessage{{task.tid}}"></div>
                                        </div>
                                        {% if task.children and task.children|length != 0 %}
                                            {{ loop(task.children) }} </ul>
                                        {% endif %}
                                    </div>

                                {% endfor %}
                            </div>
                            <!--<div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input type="checkbox" name="stuff">
                                        TASK 1
                                        can have this pull up pop up
                                        <span class="glyphicon glyphicon-cog pull-right"></span>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <input type="checkbox" name="stuff">
                                        TASK 2
                                        can have this pull up pop up
                                        <span class="glyphicon glyphicon-cog pull-right"></span>
                                    </div>
                                </div>
                            </div> -->
                            {# YOU CAN CHANGE THIS PART
                            {% for task in task_list %}
                            <div><input type="checkbox" name="something">{{ task }}</div>
                            {% endfor %}#}
                        </div>
                        <div class="col-lg-6" id="right">
                            <h2 align="center">Completed</h2>
                            <!-- ADD THE COMPLETED SHIT HERE -->
                        </div>
                    </div>
                </div>
                </div> <!-- ends tab div-->
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="newTaskModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        x
                    </button>
                    <h2 class="modal-title">New Task</h2>
                </form>
            </div>
            <div class="modal-body">
                <form id="task_form">
                    Title: <br>
                    <div class="input-group">
                        <input class="form-control" type="text" required
                        name="title" id="modalInputName" placeholder="New Task" autocomplete="off"/>
                        <span class="input-group-btn">
                            <input id="task_form_submit" type="submit" class="btn btn-default"
                            data-dismiss="modal" value="Add Task">
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Menu Toggle Script -->
<script>
    var global_parent = -1;
    var global_project = -1;

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    var addTask = function(task, project) {
        global_parent = task;
        global_project = project;
        console.log(project);
        $("#newTaskModal").modal();
    }

    var checkOffTask = function(task) {
        var box = document.getElementById("taskBox" + task);
        api_call("POST","/api/tasks/update",
        {"completed" : box.checked}, function(){console.log("gud")},
        function(){console.log("bad")} );
        if (box.checked) {
            console.log("CHECK");

            display_message("taskMessage" + task,
             "success", "Yay!"
                    ,function(){});
        }
    }


    $("#task_form_submit").click(function() {
        var data = $("#task_form").serializeObject();
        data["parent"] = global_parent;
        data["pid"] = global_project;

        api_call("POST","/api/tasks/add", data, function(result) {
            if (result["success"] == 1) {
                location.reload();
            }
        }, function() {
        });
    });

    var add_project = function() {
        var data = $("#new_project").serializeObject();

        api_call("POST", "/api/projects/add", data, function(result) {
            if (result["success"] == 1) {
                location.reload();
            }
        });
    }
</script>
{% endblock %}
