{% extends "base.html" %}
{% block head %}
<title>ToDo</title>
{{ super() }}
<link href="../static/simple-sidebar.css" rel="stylesheet">
<style>
    
    #workNav{
        margin-bottom: 0px;
    }
    
</style>
{% endblock %}
{% block body %}
<nav id = "workNav" class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li>
            <a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-tasks"></span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Log Out</a></li>
        </ul>
    </div>
</nav>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">Your Lists</a>
            </li>
             
            <div> 
            {% for task in tasks recursive %}
                <br>
                <div style="position: relative; left: 30px;">
                    <!-- TODO: REPLACE <b> WITH THE TASK DIV -->
                    <b> Task: {{ task["name"] }} </b> <br>
                    {% if task["children"]|length != 0 %}
                        {{ loop(task["children"]) }} </ul>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <h1>List name</h1>
                    <!-- YOU CAN CHANGE THIS PART -->
                    {% for task in task_list %}
                    <div><input type="checkbox" name="something">{{ task }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>
{% endblock %}
